{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Display</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <style type="text/css">
        

        html, body {
            margin: 0;
            padding: 0;
            font-family: Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-height: 85vh;
        }

        .container {
            padding: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="calendar"></div>
    </div>

</body>
<script>
    var calendar;

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'local',
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'timeGridWeek,timeGridDay'
            }, 
            events: [ ]
        });
        calendar.render();
    });
    
    function formatEvent(message) {
        return {
            title: message.desc,
            start: message.date + "T" + message.start + ":00",
            end: message.date + "T" + message.end + ":00"
        }
    }  
    
    function addEvent(event) {
        calendar.addEvent(event);
    }

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));
        // You will probably want to add some code here to draw more lines.
        console.log(received)
        var event = formatEvent(received);
        console.log(JSON.stringify(event));
        addEvent(event);
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
