{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Phone Screen #1</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    
    <!-- https://weareoutman.github.io/clockpicker/ -->
    <link href="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet" />
    <script src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>

    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        .phone-screen {
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .title {
            text-align: center;
            text-decoration: underline 1px;
            margin-top: 10px;
        }

        .form-container {
            position: relative;
        }

        .add-event, .book-event {
            position: absolute;
            left: 0;
            top: 0;
        }
        
        .add-event {
            padding-left: 15px;
            padding-right: 15px;
        }

        .book-event {
            padding-left: 5px;
            padding-right: 5px;
        }

    </style>

</head>
<body> 
    <div class="phone-screen" style="height:667px; width:375px; border: black solid 3px; border-radius: 15px;">
        
        <div id="title" class="row justify-content-center">
            <div class="col-sx-12 w-100 text-center">
                    <p class="h1 title">Playdate Planner</p> 
                    <form class="form-inline justify-content-center">
                        <label style="margin-right: 3px;" for="inputName">Name: </label>
                        <input type="text" name="name" class="form-control mb-2 mr-sm-2" id="name" placeholder="Name">
                    </form>
            </div>
        </div>
        
        <div class="row pt-3 justify-content-center">
            <div class="col-xs-5 mr-1">
                <div class="btn btn-dark btn-sm btn-block menu-button" onclick="openShareSchedUI();"> Host Playdate </div>
            </div>
            <div class="col-xs-5 ml-1">
                <div class="btn btn-dark btn-sm btn-block menu-button" onclick="openBookUI();"> Book Playdates </div>
            </div>
        </div>
        
        <div class="row mt-1 justify-content-center">
            <div class="col-xs-12" id="items" > 
                <h6> My Playdates</h4>
            </div>
        </div>  
        
        <div class="row justify-content-center">
            <div class="col-sm-10 mx-auto"> 
                <div class="form-container">
                    <div class= "add-event" id="share-ui" style="visibility:hidden;"> 
                        <h4>Enter playdate details:</h4> 
                        <form>
                            <div class="form-group">
                                <label for="description"> Description: </label>
                                <input class="form-control" type="text" name="description" id="description"> 
                            </div>

                            <div class="form-group">
                                <label for="date">Date: </label>
                                <input class="form-control" type="date" name="date" id="date">
                            </div>

                            <div class="form-group">
                                <div class="input-group clockpicker clock-start" data-align="top" data-autoclose="true" > 
                                    <label class="mr-1" for="sTime">Start Time: </label>
                                    <input type="text" class="form-control" value="" placeholder="Now" name="sTime" id="sTime">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div> 
                            </div>

                            <div class="form-group">
                                <div class="input-group clockpicker clock-end" data-align="top" data-autoclose="true">
                                    <label class="mr-1" for="eTime"> End Time: </label>
                                    <input type="text" class="form-control" value="" placeholder="Now" name="eTime" id="eTime">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="notes">Additional Notes (optional): </label>
                                <input class="form-control" type="text" name="notes" id="notes"> 
                            </div>
                        </form>
                        <div class="text-right">
                            <button class="btn btn-dark btn-sm"  onclick="closeUI();"> Go Back </button> 
                            <button class="btn btn-dark btn-sm"  onclick="createSchedule();"> Add to Calendar</button>
                        </div>
                    </div>
                <div class="book-event" id="book-ui" style="visibility:hidden;"> 
                        <p class="font-weight-bold"> Enter in an ID from the calendar to RSVP: </p> 
                        <form>
                            <div class="form-group">
                                ID: <input type="text" name="schedID" id="schedID"> 
                            </div>
                        </form>

                        <div class="text-right">
                            <button class="btn btn-dark btn-sm"  onclick="closeUI();">Go Back</button> 
                            <button class="btn btn-dark btn-sm"  onclick="bookSchedule();">Book Playdate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    // view page by going to http://127.0.0.1:8000/draw/phone
    var uid = Date.now() % 10000;
    var scheduleItems = {};
    var booked = {};

    var url = window.location.href;
    var ws = new WebSocket('ws://' + window.location.host + '/ws/draw');

    ws.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));
        var dest = received['to'];
        var rUID = received['uid'];

        if (dest === 'phone') {
            var schID = received['schID'];
            addAttendees(schID, received['fromID'], received['from']);
        }
        if (dest === 'display') {
            var schID = received['schID'];
            scheduleItems[schID] = received;
        }
    }

    ws.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function getRandNum(max) {
        return Math.floor(Math.random() * max);
    }

    function createSchedule() {
        var desc = document.getElementById("description").value;
        var date = document.getElementById("date").value;
        var sTime = document.getElementById("sTime").value;
        var eTime = document.getElementById("eTime").value;
        var notes = document.getElementById("notes").value;
        var name = document.getElementById("name").value;

        schID = getRandNum(99999);
        
        var msg = {
            to: 'display',
            uid: uid,
            schID: schID,
            name: name,
            desc: desc,
            date: date,
            start: sTime,
            end: eTime,
            notes: notes
        };
    
        ws.send(JSON.stringify(msg)); // add mores params to send as needed
        addSchedule(schID, uid, name, desc, date, sTime, eTime, notes);
    }

    function bookSchedule() {
        var shID = document.getElementById("schedID").value;
        var name = document.getElementById("name").value;
        if ( !(shID in scheduleItems)) {
            alert('unable to find that playdate.');
            return;
        }
        var sched = scheduleItems[shID];
        var msg = {
            to: 'phone',
            from: name,
            fromID: uid,
            schID: shID
        };

        ws.send(JSON.stringify(msg));
        addSchedule(sched['schID'], sched['uid'], sched['name'], sched['desc'], sched['date'], sched['start'], sched['end'], sched['notes']);
    }

    function addSchedule(sid, userID, name, desc, date, start, end, notes) {
        var pd = document.getElementById("items");
        n = name;
        if (userID === uid) {
            n = '<b> me </b>';
        }
        
        var e = document.createElement("div");
        e.id = sid;
        e.innerHTML += '<b> ID: ' + sid + '</b> <br>' + desc + '; hosted by ' + n + ' on ' + date + ' from ' + start + ' to ' + end + '<br>' +
            'Notes: ' + notes + '<br>' +
            'Attendees: ';
        pd.appendChild(e);
    }

    function addAttendees(sid, userID, name) {
        var s = document.getElementById(sid);
        n = name + ', ';
        var sh = scheduleItems[sid];
        if (uid === userID) {
            n = '<b> me </b>, ';
        }
        s.innerHTML += n;
    }


    function openShareSchedUI() {
        document.getElementById('share-ui').style.visibility = 'visible';
        document.getElementById('items').style.visibility = 'hidden';
        //document.getElementById('close-ui').style.visibility = 'visible';
        var menuButtons = document.getElementsByClassName('menu-button');
        for (let i = 0; i < menuButtons.length; i++) {
            menuButtons[i].style.visibility = 'hidden';
        }
    }

    function openBookUI() {
        document.getElementById('book-ui').style.visibility = 'visible';
        document.getElementById('items').style.visibility = 'hidden';
        //document.getElementById('close-ui').style.visibility = 'visible';
        var menuButtons = document.getElementsByClassName('menu-button');
        for (let i = 0; i < menuButtons.length; i++) {
            menuButtons[i].style.visibility = 'hidden';
        }
    }

    function closeUI() {
        var menuButtons = document.getElementsByClassName('menu-button');
        for (let i = 0; i < menuButtons.length; i++) {
            menuButtons[i].style.visibility = 'visible';
        }
        document.getElementById('share-ui').style.visibility = 'hidden';
        document.getElementById('book-ui').style.visibility = 'hidden';
        document.getElementById('items').style.visibility = 'visible';
        //document.getElementById('close-ui').style.visibility = 'hidden';
    }

    $('.clockpicker.clock-start').clockpicker({
        placement: 'right',
        donetext: 'Done',
        'default': 'now'
    });
    $('.clockpicker.clock-end').clockpicker({
        placement: 'right',
        align: 'left',
        donetext: 'Done',
        'default': 'now'
    });

</script>
</html>
