{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>About Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'fitness/css/everything.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/about.css' %}" />
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>

</head>
	
	<div style="background-color: #48A2E9;">
	    <i class="bi bi-arrow-left" onclick="goBack()" style="font-size:4em; margin-left:2%; font-weight:bold;"></i>
	    <h1 style="text-align: center;">About Page </h1>
	    <br>
  	</div>


	<div class='headerText' style="font-size:45px;"> My Goals </div>

	<div id='section1' style="margin-left: 3%; margin-right: 3%;">
		<div id='down1' style="font-size:35px;">
			About My Goals
			<i class="bi bi-caret-right-fill" id="rightCaret1"></i>
		</div>

		<div id='right1' style="font-size:30px;"> My Goals is where you can create your own goals by clicking the "plus" circle, and have the option to "complete" it by clicking the green checkmark, or "discard" it by clicking the red "x" icon. <br><br> You can also access the Goal Progress Archive page, and the App Achievements page from this page.
		 </div>
	</div>


	<div id='section2' style="margin-left: 3%; margin-right: 3%;">
		<div id='down2' style="font-size:35px;">
			Goal Progress Archive
			<i class="bi bi-caret-right-fill" id="rightCaret2"></i>
		</div>

		<div id='right2' style="font-size:30px;"> The Goal Progress Archive is a place you can see all the past goals you have completed by clicking on the green checkmark. Complete goals to gain more points to level up! <br><br> It's a place to see all your past achievements, so feel proud about yourself, you are making great progress! </div>
	</div>


	<div id='section3' style="margin-left: 3%; margin-right: 3%;">
		<div id='down3' style="font-size:35px;">
			App Achievements
			<i class="bi bi-caret-right-fill" id="rightCaret3"></i>
		</div>

		<div id='right3' style="font-size:30px;"> This is the place where you see all of your app achievements! This is different from goals because these achievements are tied to the app itself, instead of the user creating them like with their goals. Fulfill the app achievements to gain more points to level up! <br><br> Good luck!
 </div>
	</div>




	<div class='headerText' style="font-size:45px;"> My Scheduale </div>

	<div id='section4' style="margin-left: 3%; margin-right: 3%;">
		<div id='down4' style="font-size:35px;">
			About My Schedule
			<i class="bi bi-caret-right-fill" id="rightCaret4"></i>
		</div>

		<div id='right4' style="font-size:30px;"> 	Construct your schedule and we will do the rest for you! You can add in things like work, leisure, exercise, and other, and specify the time and activity name. With this, you can take your first step into being more time conscious! </div>
	</div>

	<div id='section5' style="margin-left: 3%; margin-right: 3%;">
		<div id='down5' style="font-size:35px;">
			Filling out the Scheduale
			<i class="bi bi-caret-right-fill" id="rightCaret5"></i>
		</div>

		<div id='right5' style="font-size:30px;"> 	You can fill out the schedule either manually or automatically. For manually filling out the schedule, you can click the “Add to calendar” button and fill out the form with information. For automatically filling out, you can click the “Autofill Workout”, choose what day, and how long, and we will fill out the calendar for you! </div>
	</div>




	<div class='headerText' style="font-size:45px;"> My Exercises </div>

	<div id='section7' style="margin-left: 3%; margin-right: 3%;">
		<div id='down7' style="font-size:35px;">
			About My Exercises
			<i class="bi bi-caret-right-fill" id="rightCaret7"></i>
		</div>

		<div id='right7' style="font-size:30px;"> Check here for all sorts of cool exercises you can do. When you click on the “My Exercise” icon, you are taken to a page with 6 muscle groups. Click on the muscle group you want to work out and check out our list of exercises. When you click on an exercise, the steps on how to do each exercise will appear. Have fun! </div>
	</div>


	<div class='headerText' style="font-size:45px;"> My Progress </div>

	<div id='section9' style="margin-left: 3%; margin-right: 3%;" style="font-size:30px;">
		<div id='down9' style="font-size:35px;">
			About My Progress
			<i class="bi bi-caret-right-fill" id="rightCaret9"></i>
		</div>

		<div id='right9' style="font-size:30px;"> Check here to see your progress! You will be assigned a level, name rank, and experience bar. Also, there will be an inspirational quote everytime you check your progress, to give you a little boost on your journey! </div>
	</div>

	<div id='section10' style="margin-left: 3%; margin-right: 3%;">
		<div id='down10' style="font-size:35px;">
			Leveling Up
			<i class="bi bi-caret-right-fill" id="rightCaret10"></i>
		</div>

		<div id='right10' style="font-size:30px;"> For each goal and achievement a user completes, they will receive 1 point towards leveling up. Gain 3 points, and you can level up! Your plaque color of your icon and quote will change, as well as your level and your name rank, so keep on leveling up if you want to see all the colors! <br><br> Good luck, you’ll do great! </div>
	</div>

	<br><br><br>

<body>



</body>
<script>

	$("#section1").click(function(){
	    $("#right1").slideToggle("slow");
	    toggleCaret("rightCaret1", "downCaret1", "#down1");
    });

	$("#section2").click(function(){
	    $("#right2").slideToggle("slow");
	    toggleCaret("rightCaret2", "downCaret2", "#down2");
    });

    $("#section3").click(function(){
	    $("#right3").slideToggle("slow");
	    toggleCaret("rightCaret3", "downCaret3", "#down3");
    });

    $("#section4").click(function(){
	    $("#right4").slideToggle("slow");
	    toggleCaret("rightCaret4", "downCaret4", "#down4");
    });

    $("#section5").click(function(){
	    $("#right5").slideToggle("slow");
	    toggleCaret("rightCaret5", "downCaret5", "#down5");
    });

    $("#section6").click(function(){
	    $("#right6").slideToggle("slow");
	    toggleCaret("rightCaret6", "downCaret6", "#down6");
    });


    $("#section7").click(function(){
	    $("#right7").slideToggle("slow");
	    toggleCaret("rightCaret7", "downCaret7", "#down7");
    });

    $("#section8").click(function(){
	    $("#right8").slideToggle("slow");
	    toggleCaret("rightCaret8", "downCaret8", "#down8");
    });

    $("#section9").click(function(){
	    $("#right9").slideToggle("slow");
	    toggleCaret("rightCaret9", "downCaret9", "#down9");
    });

    $("#section10").click(function(){
	    $("#right10").slideToggle("slow");
	    toggleCaret("rightCaret10", "downCaret10", "#down10");
    });





	// Function that handles toggling the Caret
    function toggleCaret(rightCaretNum, downCaretNum, downNum) {

    	var rightCaret = document.getElementById(rightCaretNum);
	   	var downCaret = document.getElementById(downCaretNum);

        if (rightCaret != null) {
            rightCaret.remove();
            $(downNum).append("<i class='bi bi-caret-down-fill' id='" + downCaretNum + "'> </i>");
        }

        if (downCaret != null) {
        	downCaret.remove();
        	$(downNum).append("<i class='bi bi-caret-right-fill' id='" + rightCaretNum + "'></i>");
        }
    }
  
	function init() {
        if (localStorage.getItem('userTracker') === null) {
            // pages that user opened
            var userTracker = {
                index: false,
                calendar: false,
                goal: false,
                about: true, 
                muscle_group: false, 
                progress: false

            };
            localStorage.setItem('userTracker', JSON.stringify(userTracker));
        } else {
            let tracker = JSON.parse(localStorage.getItem('userTracker'));
            tracker['about'] = true;
            localStorage.setItem('userTracker', JSON.stringify(tracker));
        }
    }


	function goBack() {
	  window.history.back();
	}

	init();

</script>
</html>