<head>
    <style>
        table, td {
          margin-top: 25px;
          border: 1px solid black;
          border-collapse: collapse;
        }
        td {
          padding: 15px;
        }
        .text-block-1 {
            margin: auto;
            width: 50%;
            text-align: center;
            font-size: 250%;
        }
        .space {
            margin-top: 25px;
        }
        .check {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        </style>
</head>
    <body class ="body">
        <div>
            <div class="space"></div>
        </div>
        <div>
            <div class="text-block-1">App Achievements</div>
        </div>
        <div>
            <table>
                <col width="10%">
                    <col width="90%">
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20181217/uue/kissclipart-checkbox-psd-clipart-royalty-free-checkbox-72c73030a92924c8.png></img>
                            </div></td>
                            <td>Started the App</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20181217/uue/kissclipart-checkbox-psd-clipart-royalty-free-checkbox-72c73030a92924c8.png></img>
                            </div></td>
                            <td>Used the App Thrice</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20180830/qre/kissclipart-blank-check-boxes-clipart-clip-art-b4fd73b9e067c5b9.jpg></img>
                            </div></td>
                            <td>Manually chose a workout once</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20180830/qre/kissclipart-blank-check-boxes-clipart-clip-art-b4fd73b9e067c5b9.jpg></img>
                            </div></td>
                            <td>Used App more than once a week</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20181217/uue/kissclipart-checkbox-psd-clipart-royalty-free-checkbox-72c73030a92924c8.png></img>
                            </div></td>
                            <td>Used App more than once a week for a month</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20181217/uue/kissclipart-checkbox-psd-clipart-royalty-free-checkbox-72c73030a92924c8.png></img>
                            </div></td>
                            <td>Finished 1 Goal</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20180830/qre/kissclipart-blank-check-boxes-clipart-clip-art-b4fd73b9e067c5b9.jpg></img>
                            </div></td>
                            <td>Finished 5 Goals</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20180830/qre/kissclipart-blank-check-boxes-clipart-clip-art-b4fd73b9e067c5b9.jpg></img>
                            </div></td>
                            <td>Finished 10 Goals</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20181217/uue/kissclipart-checkbox-psd-clipart-royalty-free-checkbox-72c73030a92924c8.png></img>
                            </div></td>
                            <td>Workout one muscle group</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20180830/qre/kissclipart-blank-check-boxes-clipart-clip-art-b4fd73b9e067c5b9.jpg></img>
                            </div></td>
                            <td>Workout six muscle groups</td>
                        </tr>
                        <tr>
                            <td><div>
                                <img class="check", src=https://library.kissclipart.com/20180830/qre/kissclipart-blank-check-boxes-clipart-clip-art-b4fd73b9e067c5b9.jpg></img>
                            </div></td>
                            <td>Navigated through all pages</td>
                        </tr>
            </table>
        </div>
    </body>