{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>App Achievements Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/everything.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/motivation.css' %}" />
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>

    <style>
        table, td {
          margin-top: 25px;
          border: 1px solid black;
          border-collapse: collapse;
        }
        td {
          padding: 15px;
        }
        .text-block-1 {
            margin: auto;
            width: 50%;
            text-align: center;
            font-size: 250%;
            padding: 35px;
        }
        .space {
            margin-top: 25px;
        }

        .tableStyle {
            width: 60%;
            margin-left: 20%;
        }

        .descriptionPosition {
            text-align: center;
            font-size: 35px;
        }

        .checkWidth {
            width: 10%;
        }


        </style>
</head>

<body>
      
        <div style = "background-color: #48A2E9;"> 
        <i class="bi bi-arrow-left" onclick="goBack()" style="font-size:4em; margin-left:5%; font-weight:bold;"></i>
        <div class="text-block-1">App Achievements</div>
        </div>
        <br><br>

        <div>

            <p class="descriptionPosition"> App Use </p>
            <table class="tableStyle">
                <tr>
                    <td id="one" class="checkWidth"></td>
                    <td>Started the App</td>
                </tr>

                <tr>
                    <td id="five" class="checkWidth"></td>
                    <td>Looked at the about page</td>
                </tr>

                <tr>
                    <td id="five" class="checkWidth"></td>
                    <td>Looked at My Scheduale</td>
                </tr>

                <tr>
                    <td id="five" class="checkWidth"></td>
                    <td>Looked at My Progress page</td>
                </tr>

                <tr>
                    <td id="five" class="checkWidth"></td>
                    <td>Looked at My Exercises page</td>
                </tr>

                <tr>
                    <td id="five" class="checkWidth"></td>
                    <td>Looked at the My Exercises page</td>
                </tr>                

                <tr>
                    <td id="five" class="checkWidth"></td>
                    <td>Looked at My Goals Page</td>
                </tr>


            </table>
            <br>

            <p class="descriptionPosition"> Goals </p>
            <table class="tableStyle">
                <tr>

                <tr>
                    <td id="six" class="checkWidth"></td>
                    <td>Finished 1 Goal</td>
                </tr>
                
                <tr>
                    <td id="seven" class="checkWidth"></td>
                    <td>Finished 5 Goals</td>
                </tr>

                <tr>
                    <td id="eight" class="checkWidth"></td>
                    <td>Finished 10 Goals</td>
                </tr>

                <tr>
                    <td id="eight" class="checkWidth"></td>
                    <td>Finished 15 Goals</td>
                </tr>

                <tr>
                    <td id="eight" class="checkWidth"></td>
                    <td>Finished 20 Goals</td>
                </tr>

            </table>
            <br>




            <p class="descriptionPosition"> My Calendar </p>
            <table class="tableStyle">

                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Added more than 60 minutes of exercise</td>
                </tr>

                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Added more than 120 minutes of exercise</td>
                </tr>

                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Added more than 210 minutes of exercise</td>
                </tr>

                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Added more than 500 minutes of exercise</td>
                </tr>

                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Added more than 1000 minutes of exercise</td>
                </tr>

                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Manually chose a workout once</td>
                </tr>
                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Automatically choose a workout once</td>
                </tr>

                <tr>
                    <td id="nine" class="checkWidth"></td>
                    <td>Have more exercise hours than leisure hours</td>
                </tr>


            </table>

        </div>

</body>




<script>

    // This function is to be called on when we want to checkmark a achievement
    // BoxNum would be an input corresoponding to the box number, for example "#ten"
    // inputNum would be something like "tenCheck"
    function checkMarking(boxNum, inputNum) {
        var inputCheck = document.getElementById(inputNum);
        if (inputCheck === null) {
            $(boxNum).append("<i class='bi bi-check-lg' id='" + inputNum + "' style='color:green';> </i>");
        }
    }

    function goBack() {
      window.history.back();
    }

</script>
</html>
