{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Calendar</title>

    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'fitness/js/calendar.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'fitness/css/calendar.css' %}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
</head>
<body onload="init();">
    <div class="container-fluid">
        <div id="first-row" class="row">
            <div class="col-6"> 
                <div class="top-button" onclick="generateWorkout();"> Autogenerate workout </div>
            </div>
            <div class="col-6"> 
                <div id="formControl" class="top-button"> Add to Calendar </div>
            </div>
        </div>
        <div id="calendar-form" class="row justify-content-center"> 
            <form>
                <p class="h3 text-center">Calendar Form</p>
                <div class="form-item form-group">
                    <label for="eventName"> Event Name: </label>
                    <input type="text" name="eventName" id="eventName" />
                </div>
                <div class="form-item form-group">
                    <label for="date"> Date: </label>
                    <input type="date" name="date" id="date" />
                </div>
                <div class="form-item form-group">
                    <label for="startTime"> Start Time: </label>
                    <input type="time" name="startTime" id="startTime" />
                    &nbsp;
                    <label for="endTime"> End Time: </label>
                    <input type="time" name="endTime" id="endTime" />
                </div>
                <button type="button" onclick="sendForm();"> Add to Calendar </button>
            </form>     
        </div>
        <p class="h1 text-center">Calendar</p>
        <div id="calendar"></div>
        <p class="h3 text-center">This week, you have in total, <br> <b> 8 Hours </b> <br> of free time to exercise!</p>
    </div>
</body>
</html>