{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Catalog of Exercises</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/everything.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/about.css' %}" />
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>
</head>
<style>
h1 {
  text-align : center;
  font-weight : bold;
  font-size : 4em;
}
h3 {
  text-align : center;
  font-size : 2em;
  padding-bottom: 33px;
}
.images{
  max-width: 100%;
  height: auto;
}
.tables{
  text-align : center;
}
table{
  border-collapse: separate;
  border-spacing: 0 30px;
  text-align:center;
}
.my-container{
  padding : 30px 4%;
}
.footer {
  border-top: 1px solid black;
}
.main-text{
  font-size :3.3em;
  font-weight : bold;
}
p{
  font-size : 2.2em;
}
.sections{
  margin-top:10%;
}
.outer-text{
/*  margin-left:3%;
  font-size : 2.6em;*/
  border: solid 1px black;
}

.inner-text{
  margin-left:7%;
  border: solid 1px black;
}
.equip{
  margin-top:5%;
}

.nequip{
  margin-top:8%;
  margin-bottom : 4%;
}

#in1, #in2, #in3, #in4, #in5, #in6, #in7, #in8, #in9,
#in10, #in11, #in12, #in13, #in14 {
  display: none;
}

</style>
<body>
      <div class="exercisemenu">
        <i class="bi bi-arrow-left" onclick="goBack()" style="font-size:4em; margin-left:1%; font-weight:bold;"></i>
        <h1>Catalog of Exercises: Shoulders</h1>
        <h3>Click on an exercise to learn more!</h3>
      </div>
      <div class = "my-container legs">
      
      <br><br><br>
      <div>

        <div class = "equip">
          <div class = "main-text">Equipment Required</div>
          <br>

          <div>
            <div class ="outer-text" id="out1"> Shoulder Press <i class="bi bi-caret-right-fill" id="rightCaret1"></i></div>
            <div id="in1">
              <div class ="inner-text" > 1. Stand upright and keep the back straight.

              <br><br>
              2. Hold a dumbbell in each hand at the shoulders with an overhand grip. Thumbs should be on the inside and knuckles facing up.

              <br><br>
              3. Raise the weights above the head in a controlled motion while exhaling. Pause at the top of the motion.

              <br><br>
              4. Return the dumbbells to the shoulders while inhaling.

              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out2"> Cable Shoulder Press <i class="bi bi-caret-right-fill" id="rightCaret2"></i></div>
            <div id="in2">
              <div class ="inner-text" > 1. Attach two single-grip handles to a low point on a cable machine with closely positioned pulleys. You want to have tension in the cables throughout the entire range of movement. 


              <br><br>
              2. Stand facing away from the pulleys, squat down and grip the handles, then stand up with feet either shoulder-width or use a split stance. You should be holding the handles at shoulder-height. 

              <br><br>
              3. Keep your back straight, core tight, and lean just slightly forward. 

              <br><br>
              4. Press the cable straight overhead without locking out completely, and lower them back down to shoulder-height. 

              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out3"> Machine Shoulder Press <i class="bi bi-caret-right-fill" id="rightCaret3"></i></div>
            <div id="in3">
              <div class ="inner-text" > 1. Keep a tight core and flat back as you remain seated in the shoulder press machine.

              <br><br>
              2. Look straight ahead as you hold on to the handles.

              <br><br>
              3. Slowly, press the handles up above your head.

              <br><br>
              4. Do not lock out your elbow.

              <br><br>
              5. Slowly, bring the handles back down but do not let the weight stack touch.

              </div>
            </div>
          </div>

 
          <div>
            <div class ="outer-text" id="out4"> Smith Machine Upright Row <i class="bi bi-caret-right-fill" id="rightCaret4"></i></div>
            <div id="in4">
              <div class ="inner-text" > 1. Select the desired weight and load it onto a barbell.

              <br><br>
              2. Unrack the bar by rotating the safety latches off the j-hooks.

              <br><br>
              3. Inhale, brace your abs, and then lead the movement by driving the elbows high as you pull the bar to chest height.

              <br><br>
              4. When the bar has reached its peak, reverse the movement slowly while controlling the bar back to the starting position.

              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out5"> Standing Cable Rear Delt Fly Crossover <i class="bi bi-caret-right-fill" id="rightCaret5"></i></div>
            <div id="in5">
              <div class ="inner-text" > 1. Assume a standing position with your feet shoulder width apart and set the pulleys of the cable machine to a height just above your head.


              <br><br>
              2. Grab the left handle with your right hand and the right handle with your left hand. Your arms will start in this crossed position.


              <br><br>
              3. Stand in the center of the cable machine and take a step backwards to create some tension in the cables. 

              <br><br>
              4. With a tight core, contract your rear (posterior) delts to bring your arms backward until you feel a pinch in your shoulder blades.
              <br><br>
              5. Slowly bring your arms back to the starting position. You should maintain only a slight bend in your arms during this motion. 


              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out6"> Cable Raise <i class="bi bi-caret-right-fill" id="rightCaret6"></i></div>
            <div id="in6">
              <div class ="inner-text" > 1. Attach a handle to the lowest pulley and stand to one side of the cable machine. 

              <br><br>
              2. Grab the handle with one hand and the tower with the other, to brace yourself. 


              <br><br>
              3. With your elbow slightly bent, raise your arm to the side until your elbow is at shoulder height. 

              <br><br>
              4. Lower and repeat.

              </div>
            </div>
          </div>



          </div>
        </div>

        <div class = "nequip">
          <div class = "main-text">No Equipment Required</div>
          <br>




          <div>
            <div class ="outer-text" id="out7"> Cable Raise <i class="bi bi-caret-right-fill" id="rightCaret7"></i></div>
            <div id="in7">
              <div class ="inner-text" > 1. Attach a handle to the lowest pulley and stand to one side of the cable machine. 

              <br><br>
              2. Grab the handle with one hand and the tower with the other, to brace yourself. 


              <br><br>
              3. With your elbow slightly bent, raise your arm to the side until your elbow is at shoulder height. 

              <br><br>
              4.Lower and repeat.

              </div>
            </div>
          </div>




          <div>
            <div class ="outer-text" id="out8"> Incline push-up <i class="bi bi-caret-right-fill" id="rightCaret8"></i></div>
            <div id="in8">
              <div class ="inner-text" > 1. Stand in front of your box or bench, then squat or bend down and place both hands on either side of it with your fingers pointing forward. Your hands should be about shoulder-width apart. If you need a wider piece of equipment to safely elevate yourself, don’t be shy about swapping it out.

              <br><br>
              2. Once your hands are in the right position, step your body back into a plank position, one leg at a time. Make sure your body is in a straight line, your head is aligned with your spine, and that your lower back isn’t sagging before continuing. Looking a few inches ahead of you, rather than down at the box, can help keep your body straight.

              <br><br>
              3. Next, bend your arms to help you slowly lower your chest toward the box. Straighten your arms to bring yourself back up into a straight line.

              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out9"> Push-back push-up <i class="bi bi-caret-right-fill" id="rightCaret9"></i></div>
            <div id="in9">
              <div class ="inner-text" > 1. Lie face down on the floor keeping your body straight. Put the palms of your hands face down on the floor. Have your fingers pointing straight ahead. You are going to use a slightly wider than shoulder width positioning (your hands should be on the outsides of your shoulders). Press your hands into the floor, extend at the elbows(remember your arms should be at a 45-degree angle) and raise your body up to the top of the push-up position.


              <br><br>
              2. Keep your elbows tucked close to your sides. Bend at your elbows and lower your chest towards the ground. Again have your arms form a 45-degree angle with your body. Keep dropping your body until your chest is almost touching the floor.


              <br><br>
              3. Instead of pushing your body straight up we are going to push our body back as we bend at our knees.

              <br><br>
              4. Extend your knees and bring your body forwards returning to the top of the push-up position.

              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out10"> Pike push-up <i class="bi bi-caret-right-fill" id="rightCaret10"></i></div>
            <div id="in10">
              <div class ="inner-text" > 1. Assume a pushup position on the floor. Your arms should be straight and your hands should be shoulder-width apart.



              <br><br>
              2. Now lift up your hips so that your body forms an upside down V. Your legs and arms should stay as straight as possible.



              <br><br>
              3. Bend your elbows and lower your upper body until the top of your head nearly touches the floor.

              <br><br>
              4. Pause, and then push yourself back up until your arms are straight.

              </div>
            </div>
          </div>




          <div>
            <div class ="outer-text" id="out11"> Prone T (and Y) <i class="bi bi-caret-right-fill" id="rightCaret11"></i></div>
            <div id="in11">
              <div class ="inner-text" > 1. Lay face-down on the ground and place your arms out straight ahead of you.

              <br><br>
              2. Keep your arms straight and lift them up off of the ground straight out in front of you. Hold for a second, then lower them back down to the ground.


              <br><br>
              3. Move your hands out to a “Y” position and repeat step 2. 


              <br><br>
              4. Move your hands out to a “T” position directly to the side of your shoulders and repeat step 2.

              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out12"> Planks <i class="bi bi-caret-right-fill" id="rightCaret12"></i></div>
            <div id="in12">
              <div class ="inner-text" > 1. Get into a push up position, with your elbows under your shoulders and your feet hip-width apart.


              <br><br>
              2. Bend your elbows and rest your weight on your forearms and on your toes, keeping your body in a straight line.

              <br><br>
              3. Hold for as long as possible.

              </div>
            </div>
          </div>

          <div>
            <div class ="outer-text" id="out13"> Plank-up <i class="bi bi-caret-right-fill" id="rightCaret13"></i></div>
            <div id="in13">
              <div class ="inner-text" > 1. Start in a push-up position with the hands under the shoulders and the legs stretched out directly behind. 

              <br><br>
              2. Squeeze the thigh and glute muscles to keep body and legs in a straight line, and lower down to the elbows one elbow at a time. 

              <br><br>
              3. From this position on the elbows, press the hands into the floor one at a time to return to the push-up position. 

              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out14"> Plank to Down Dog <i class="bi bi-caret-right-fill" id="rightCaret14"></i></div>
            <div id="in14">
              <div class ="inner-text" > 1. Start on your hands and knees. Keep your shoulders directly above your wrists and your hips over your knees.


              <br><br>
              2. Tuck your toes under and straighten your legs. Your core should be engaged, and don’t let your back sag or your shoulders scrunch up toward your ears. Relax your head and neck.


              <br><br>
              3. Press your hips and butt back. Push away slightly with your arms as you engage your core. You’ll be in an upside down, V-shaped pose.

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


</body>
<script>



    $("#out1").click(function(){
      $("#in1").slideToggle("slow");
      toggleCaret("rightCaret1", "downCaret1", "#out1");
    });

    $("#out2").click(function(){
      $("#in2").slideToggle("slow");
      toggleCaret("rightCaret2", "downCaret2", "#out2");
    });

    $("#out3").click(function(){
      $("#in3").slideToggle("slow");
      toggleCaret("rightCaret3", "downCaret3", "#out3");
    });

    $("#out4").click(function(){
      $("#in4").slideToggle("slow");
      toggleCaret("rightCaret4", "downCaret4", "#out4");
    });

    $("#out5").click(function(){
      $("#in5").slideToggle("slow");
      toggleCaret("rightCaret5", "downCaret5", "#out5");
    });

    $("#out6").click(function(){
      $("#in6").slideToggle("slow");
      toggleCaret("rightCaret6", "downCaret6", "#out6");
    });

    $("#out7").click(function(){
      $("#in7").slideToggle("slow");
      toggleCaret("rightCaret7", "downCaret7", "#out7");
    });

    $("#out8").click(function(){
      $("#in8").slideToggle("slow");
      toggleCaret("rightCaret8", "downCaret8", "#out8");
    });

    $("#out9").click(function(){
      $("#in9").slideToggle("slow");
      toggleCaret("rightCaret9", "downCaret9", "#out9");
    });

    $("#out10").click(function(){
      $("#in10").slideToggle("slow");
      toggleCaret("rightCaret10", "downCaret10", "#out10");
    });

    $("#out11").click(function(){
      $("#in11").slideToggle("slow");
      toggleCaret("rightCaret11", "downCaret11", "#out11");
    });

    $("#out12").click(function(){
      $("#in12").slideToggle("slow");
      toggleCaret("rightCaret12", "downCaret12", "#out12");
    });

    $("#out13").click(function(){
      $("#in13").slideToggle("slow");
      toggleCaret("rightCaret13", "downCaret13", "#out13");
    });

    $("#out14").click(function(){
      $("#in14").slideToggle("slow");
      toggleCaret("rightCaret14", "downCaret14", "#out14");
    });



    // Function that handles toggling the Caret
    function toggleCaret(rightCaretNum, downCaretNum, downNum) {

      var rightCaret = document.getElementById(rightCaretNum);
      var downCaret = document.getElementById(downCaretNum);

        if (rightCaret != null) {
            rightCaret.remove();
            $(downNum).append("<i class='bi bi-caret-down-fill' id='" + downCaretNum + "'> </i>");
        }

        if (downCaret != null) {
          downCaret.remove();
          $(downNum).append("<i class='bi bi-caret-right-fill' id='" + rightCaretNum + "'></i>");
        }
    }

    function goBack() {
      window.history.back();
    }

</script>
</html>
