{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Catalog of Exercises</title>

    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>
</head>
<style>
h1 {
  text-align : center;
  font-weight : bold;
  font-size : 4em;
  margin-top: 5%;
}
h3 {
  text-align : center;
  font-size : 2.5em;
}
.images{
  max-width: 100%;
  height: auto;
}
.tables{
  text-align : center;
}
table{
  border-collapse: separate;
  border-spacing: 0 30px;
  text-align:center;
}
.my-container{
  padding : 0px 4%;
}
.footer {
  border-top: 1px solid black;
}
.main-text{
  font-size :3.3em;
  font-weight : bold;
}
p{
  font-size : 2.2em;
}
.sections{
  margin-top:10%;
}
.outer-text{
  margin-left:3%;
  font-size : 2.6em;
  border: solid 1px black;
}

.inner-text{
  margin-left:7%;
  border: solid 1px black;
}
.equip{
  margin-top:5%:
}

.nequip{
  margin-top:8%;
  margin-bottom : 4%;
}

.arms{
  display:none;
}
.legs{
  display:none;
}
.abs{
  display:none;
}
.shoulders{
  display:none;
}
.chest{
  display:none;
}
.back{
  display:none;
}

</style>
<body>

    <div class = "my-container arms">
      <h1>Catalog of Exercises: </h1>
      <h3> Arms Click on an exercise to learn more!</h3>
      <div class ="sections col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class = "equip">
          <p class = "main-text">Equipment Required</p>
          <br>
          <p class ="outer-text">· Bicep curls <p>
          <p class ="inner-text">Dumbell curls</p>
          <p class ="inner-text">Zottman curls</p>
          <p class ="inner-text">Hammer curls</p>
          <p class ="outer-text">· Tricep pulldowns</p>
          <p class ="outer-text">· Chinups</p>
        </div>
        <div class = "nequip">
          <p class = "main-text">No Equipment Required</p>
          <br>
          <p class ="outer-text">· Push ups<p>
          <p class ="inner-text">Close grip push ups</p>
          <p class ="inner-text">Diamond push ups</p>
          <p class ="outer-text">· Tricep dips</p>
          <p class ="outer-text">· Planks</p>
          <p class ="inner-text">Plank jacks</p>
          <p class ="inner-text">Up-down planks</p>
          <p class ="inner-text">Side planks</p>
        </div>
      </div>
    </div>

    <div class = "my-container legs">
      <h1>Catalog of Exercises: </h1>
      <h3> Legs Click on an exercise to learn more!</h3>
      <div class ="sections col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class = "equip">
          <p class = "main-text">Equipment Required</p>
          <br>
          <p class ="outer-text">· Leg Press<p>
          <p class ="outer-text">· Leg Press Heel Raises</p>
          <p class ="outer-text">· Seated Calf Raise</p>
          <p class ="outer-text">· Quad Extensions</p>
          <p class ="outer-text">· Hamstring Curls</p>
        </div>
        <div class = "nequip">
          <p class = "main-text">No Equipment Required</p>
          <br>
          <p class ="outer-text">·Squats<p>
          <p class ="inner-text">Jump Squats</p>
          <p class ="inner-text">Bulgarian Split Squats</p>
          <p class ="inner-text">Pistol Squats</p>
          <p class ="inner-text">Single Leg Squats</p>


          <p class ="outer-text">· Lunge</p>
          <p class ="inner-text">Curtsy Lunge</p>
          <p class ="inner-text">Reverse Lunge</p>
          <p class ="inner-text">Lateral Lunge</p>
        </div>
      </div>
    </div>

    <div class = "my-container abs">
      <h1>Catalog of Exercises: </h1>
      <h3> Abs Click on an exercise to learn more!</h3>
      <div class ="sections col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class = "equip">
          <p class = "main-text">Equipment Required</p>
          <br>
          <p class ="outer-text">· Cable Machine Crunches <p>
          <p class ="outer-text">· Glute Hamstring Developer Situp</p>
          <p class ="outer-text">· Incline Bench Situp</p>
          <p class ="outer-text">· Rowing Machine Knee Tuck</p>
          <p class ="outer-text">· Pullup Bar Knee Raise</p>
        </div>
        <div class = "nequip">
          <p class = "main-text">No Equipment Required</p>
          <br>
          <p class ="outer-text">· Crunch<p>
          <p class ="inner-text">Bicycle crunch</p>
          <p class ="inner-text">Reverse Crunch</p>
          <p class ="outer-text">· Heel taps</p>
          <p class ="outer-text">· Planks</p>
          <p class ="inner-text">Up-down planks</p>
          <p class ="inner-text">Side planks</p>
          <p class ="outer-text">· Mountain climbers </p>
          <p class ="outer-text">· Leg Raises</p>
        </div>
      </div>
    </div>


    <div class = "my-container shoulders">
      <h1>Catalog of Exercises: </h1>
      <h3> Shoulders Click on an exercise to learn more!</h3>
      <div class ="sections col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class = "equip">
          <p class = "main-text">Equipment Required</p>
          <br>
          <p class ="outer-text">· Shoulder Press <p>
          <p class ="inner-text">Cable Shoulder Press</p>
          <p class ="inner-text">Machine Shoulder Press</p>
          <p class ="outer-text">· Smith Machine Upright Row</p>
          <p class ="outer-text">· Standing Cable Rear Delt Fly Crossover</p>
          <p class ="outer-text">· Cable Raise</p>
        </div>
        <div class = "nequip">
          <p class = "main-text">No Equipment Required</p>
          <br>
          <p class ="outer-text">· Push ups<p>
          <p class ="inner-text">Incline push-up</p>
          <p class ="inner-text">Push-back push-up</p>
          <p class ="inner-text">Pike push-up</p>
          <p class ="outer-text">· Prone T (and Y)</p>
          <p class ="outer-text">· Planks</p>
          <p class ="inner-text">Plank-up</p>
          <p class ="inner-text">Plank to Down Dog</p>
        </div>
      </div>
    </div>

    <div class = "my-container back">
      <h1>Catalog of Exercises: </h1>
      <h3> Back Click on an exercise to learn more!</h3>
      <div class ="sections col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class = "equip">
          <p class = "main-text">Equipment Required</p>
          <br>
          <p class ="outer-text">· Lat Pulldown <p>
          <p class ="outer-text">· Back Extension</p>
          <p class ="outer-text">· Seated Row Machine</p>
          <p class ="outer-text">· Rope Pull</p>
          <p class ="outer-text">· Chest Supported Row Machine</p>
        </div>
        <div class = "nequip">
          <p class = "main-text">No Equipment Required</p>
          <br>
          <p class ="outer-text">· Aquaman<p>
          <p class ="outer-text">· Dolphin Kicks</p>
          <p class ="outer-text">· Superman</p>
          <p class ="outer-text">· Planks</p>
          <p class ="inner-text">Plank jacks</p>
          <p class ="inner-text">Up-down planks</p>
          <p class ="inner-text">Side planks</p>
          <p class ="outer-text">· Squats<p>
          <p class ="inner-text">Single Leg Squats</p>
        </div>
      </div>
    </div>

    <div class = "my-container chest">
      <h1>Catalog of Exercises: </h1>
      <h3> Chest Click on an exercise to learn more!</h3>
      <div class ="sections col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class = "equip">
          <p class = "main-text">Equipment Required</p>
          <br>
          <p class ="outer-text">· Chest presses <p>
          <p class ="inner-text">Incline chest press</p>
          <p class ="inner-text">Decline chest press</p>
          <p class ="inner-text">Regular chest press</p>
          <p class ="outer-text">· Chest fly</p>
          <p class ="outer-text">· Chest dips</p>
        </div>
        <div class = "nequip">
          <p class = "main-text">No Equipment Required</p>
          <br>
          <p class ="outer-text">· Push ups<p>
          <p class ="inner-text">Close grip push ups</p>
          <p class ="inner-text">Diamond push ups</p>
          <p class ="inner-text">Incline push-ups</p>
          <p class ="inner-text">Decline push-ups</p>
          <p class ="outer-text">· Planks</p>
          <p class ="inner-text">Plank jacks</p>
          <p class ="inner-text">Up-down planks</p>
          <p class ="inner-text">Side planks</p>
        </div>
      </div>
    </div>

      <div class ="footer col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  				<table id = "footer-table" align="center"width="100%" height=" 50px" border="0">
  	         <tr>
                  <td width="33.33%" style="border : none;"><img class ="images" src="../../static/fitness/images/left.png"></td>
                  <td width="33.33%" style="border : none;"><img class ="images" src="../../static/fitness/images/home.png"></td>
                  <td width="33.33%" style="border : none;"><img class ="images" src="../../static/fitness/images/right.png"></td>
  	         </tr>
  	  	 </table>
      </div>
</body>
<script>
  var ws_socket = new WebSocket('ws://' + window.location.host + '/ws/fitness');
  const urlParams = new URLSearchParams(window.location.search);
  var section = urlParams.get('section');
  if (section == "arms"){
    $(".arms").show();
  }
  if (section == "legs"){
    $(".legs").show();
  }
  if (section == "abs"){
    $(".abs").show();
  }
  if (section == "shoulders"){
    $(".shoulders").show();
  }
  if (section == "back"){
    $(".back").show();
  }
  if (section == "chest"){
    $(".chest").show();
  }

</script>
</html>
