{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Catalog of Exercises</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/everything.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/about.css' %}" />
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>
</head>
<style>
h1 {
  text-align : center;
  font-weight : bold;
  font-size : 4em;
}
h3 {
  text-align : center;
  font-size : 2em;
  padding-bottom: 33px;
}
.images{
  max-width: 100%;
  height: auto;
}
.tables{
  text-align : center;
}
table{
  border-collapse: separate;
  border-spacing: 0 30px;
  text-align:center;
}
.my-container{
  padding : 0px 4%;
}
.footer {
  border-top: 1px solid black;
}
.main-text{
  font-size :3.3em;
  font-weight : bold;
}
p{
  font-size : 2.2em;
}
.sections{
  margin-top:10%;
}
.outer-text{
/*  margin-left:3%;
  font-size : 2.6em;*/
  border: solid 1px black;
}

.inner-text{
  margin-left:7%;
  border: solid 1px black;
}
.equip{
  margin-top:5;
}

.nequip{
  margin-top:8%;
  margin-bottom : 4%;
}

#in1, #in2, #in3, #in4, #in5, #in6, #in7, #in8, #in9,
#in10, #in11, #in12, #in13, #in14 {
  display: none;
}

</style>

<body>
    <div class="exercisemenu">
      <i class="bi bi-arrow-left" onclick="goBack()" style="font-size:4em; margin-left:1%; font-weight:bold;"></i>
      <h1>Catalog of Exercises: Legs</h1>
      <h3> Click on an exercise to learn more!</h3>
    </div>

    <div class = "my-container legs">
      
      <br>
      <div>
        <div class = "equip">
          <div class = "main-text">Equipment Required</div>
          <br>



          <div>
            <div class ="outer-text" id="out1"> Leg Press <i class="bi bi-caret-right-fill" id="rightCaret1"></i></div>
            <div id="in1">
              <div class ="inner-text" > 1. Brace your abdominal muscles and push the platform away with your heels and forefoot. Your heels should remain flat on the footplate. The front of your foot or toes should never be used exclusively to move the pad forward.

              <br><br>
              2. While exhaling, extend your legs and keep your head and back flat against the seat pad. Extend with slow control rather than with an explosive movement.

              <br><br>
              3. Pause at the top of the movement. Do not lock out your knees and ensure that they are not bowing out or in.
              <br><br>
              4. While inhaling, return the footplate to the starting position by gradually bending the knees. Keep the feet and back flat throughout.

              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out2"> Leg Press Heel Raises <i class="bi bi-caret-right-fill" id="rightCaret2"></i></div>
            <div id="in2">
              <div class ="inner-text" > 1. Position your body so that feet are hip-width apart, toes pointing forward, knees are straight but not locked, back is straight and supported by the pad, and abs are engaged. 

              <br><br>
              2. Place your feet at the bottom of the foot stand, heels off.
              <br><br>
              3. EXHALE: Slowly raise your heels up, shifting your weight into the balls of the feet.
              <br><br>
              4. INHALE: Slowly lower your heels back down to complete one rep.


              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out3"> Seated Calf Raise <i class="bi bi-caret-right-fill" id="rightCaret3"></i></div>
            <div id="in3">
              <div class ="inner-text" > 1. Take a seat on the machine and place the balls of your feet on the platform with your toes pointed forward - your heels will naturally hang off. Position the base of quads under the knee pad and allow your hands to rest on top.

              <br><br>
              2. Extend your ankles and release the safety bar.

              <br><br>
              3. Lower the heels by dorsiflexing the ankles until the calves are fully stretched.
              <br><br>
              4. Extend the ankles and exhale as you flex the calves.


              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out4"> Quad Extensions <i class="bi bi-caret-right-fill" id="rightCaret4"></i></div>
            <div id="in4">
              <div class ="inner-text" > 1. Place your hands on the hand bars.

              <br><br>
              2. Lift the weight while exhaling until your legs are almost straight. Do not lock your knees. Keep your back against the backrest and do not arch your back.

              <br><br>
              3. Exhale and lower the weight back to the starting position.


              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out5">  Hamstring Curls<i class="bi bi-caret-right-fill" id="rightCaret5"></i></div>
            <div id="in5">
              <div class ="inner-text" > 1. Lie on your stomach with your legs fully extended, chest up, and your hands under your chest.

              <br><br>
              2. Bend your knees, curl your legs up, and squeeze the glutes.


              <br><br>
              3. Lower and straighten your legs.


              </div>
            </div>
          </div>





        </div>

        <div class = "nequip">
          <div class = "main-text">No Equipment Required</div>
          <br>






          <div>
            <div class ="outer-text" id="out6">  Squats<i class="bi bi-caret-right-fill" id="rightCaret6"></i></div>
            <div id="in6">
              <div class ="inner-text" > 1. Stand up with your feet shoulder-width apart.

              <br><br>
              2. Bend your knees, press your hips back and stop the movement once the hip joint is slightly lower than the knees.

              <br><br>
              3. Press your heels into the floor to return to the initial position.

              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out7">  Jump Squats<i class="bi bi-caret-right-fill" id="rightCaret7"></i></div>
            <div id="in7">
              <div class ="inner-text" > 1. Stand with your feet shoulder-width apart.


              <br><br>
              2. Start by doing a regular squat, engage your core, and jump up explosively.


              <br><br>
              3. When you land, lower your body back into the squat position to complete one rep. Make sure you land with your entire foot on the ground. Be sure to land as quietly as possible, which requires control.


              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out8">  Bulgarian Split Squats<i class="bi bi-caret-right-fill" id="rightCaret8"></i></div>
            <div id="in8">
              <div class ="inner-text" > 1. Stand 2 to 3 feet in front of a knee-high platform. Extend your right leg behind you and rest your toes on the bench. Toes can be flat or tucked, according to personal preference. Square your hips and shoulders.

              <br><br>
              2. Keeping your torso upright, slowly lower your right knee toward the floor. Your front knee will form approximately a 90-degree angle 

              <br><br>
              3. Reverse the move and return to the starting position.

              </div>
            </div>
          </div>




          <div>
            <div class ="outer-text" id="out9"> Pistol Squats<i class="bi bi-caret-right-fill" id="rightCaret9"></i></div>
            <div id="in9">
              <div class ="inner-text" > 1. Stand up straight with your feet hip-width apart and lift your left leg in front of you.

              <br><br>
              2. Start bending your right knee and slowly lower your hips back.

              <br><br>
              3. Push through the right heel to return to the starting position.

              <br><br>
              4. Switch to the left side and repeat.

              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out10"> Single Leg Squats<i class="bi bi-caret-right-fill" id="rightCaret10"></i></div>
            <div id="in10">
              <div class ="inner-text" > 1. Start by standing on your right foot. Lift your left leg out and hold it out straight and slightly in front of your torso. You could also just bend your knee and keep your left leg elevated to start. Your arms can be by your side or out in front of you for balance.

              <br><br>
              2. Keep your core engaged and your torso up throughout the movement. Start to push your hips back as you lower into a squat position. Aim to get low enough that your hips are parallel to the ground.

              <br><br>
              3. Squeeze your glutes as you push into the right foot to stand back up. Try to keep your left leg up between reps

              <br><br>
              4. Perform 5 to 10 reps on this side before switching to the left.


              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out11"> Lunge<i class="bi bi-caret-right-fill" id="rightCaret11"></i></div>
            <div id="in11">
              <div class ="inner-text" > 1. Start by standing up tall.

              <br><br>
              2. Step forward with one foot until your leg reaches a 90-degree angle. Your rear knee should remain parallel to the ground and your front knee shouldn’t go beyond your toes.

              <br><br>
              3. Lift your front lunging leg to return to the starting position.

              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out12">Curtsy Lunge<i class="bi bi-caret-right-fill" id="rightCaret12"></i></div>
            <div id="in12">
              <div class ="inner-text" > 1. Stand with your feet hip-width apart, hands on your hips. 

              <br><br>
              2. Take a big step back with your right leg, crossing it behind your left. 

              <br><br>
              3. Bend your knees and lower your hips until your left thigh is nearly parallel to the floor. 
              <br><br>
              4. Keep your torso upright and your hips and shoulders as square as possible to the wall in front of you. 
              <br><br>
              5. Return to start.

              </div>
            </div>
          </div>

 



          <div>
            <div class ="outer-text" id="out13">Reverse Lunge<i class="bi bi-caret-right-fill" id="rightCaret13"></i></div>
            <div id="in13">
              <div class ="inner-text" > 1. Start by standing straight and bracing your core muscles. 
 

              <br><br>
              2. Then take a giant step backwards with your left foot. 


              <br><br>
              3. Bend your right knee until it’s at 90°, and lower your left knee until it is also bent at a right angle. 

              <br><br>
              4. Then push back up and return to the starting position.

              </div>
            </div>
          </div>




          <div>
            <div class ="outer-text" id="out14">Lateral Lunge<i class="bi bi-caret-right-fill" id="rightCaret14"></i></div>
            <div id="in14">
              <div class ="inner-text" > 1. Start standing tall, feet hip-width distance apart.
 
 

              <br><br>
              2. Take a wide step out to the left. Bend your left knee as you push your hips back. Keep both feet flat on the floor throughout the lunge.



              <br><br>
              3. Push off with your left leg to return to standing.


              <br><br>
              4. Perform 10 to 12 lunges on the left side before switching to the right.

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>







</body>
<script>

    $("#out1").click(function(){
      $("#in1").slideToggle("slow");
      toggleCaret("rightCaret1", "downCaret1", "#out1");
    });

    $("#out2").click(function(){
      $("#in2").slideToggle("slow");
      toggleCaret("rightCaret2", "downCaret2", "#out2");
    });

    $("#out3").click(function(){
      $("#in3").slideToggle("slow");
      toggleCaret("rightCaret3", "downCaret3", "#out3");
    });

    $("#out4").click(function(){
      $("#in4").slideToggle("slow");
      toggleCaret("rightCaret4", "downCaret4", "#out4");
    });

    $("#out5").click(function(){
      $("#in5").slideToggle("slow");
      toggleCaret("rightCaret5", "downCaret5", "#out5");
    });

    $("#out6").click(function(){
      $("#in6").slideToggle("slow");
      toggleCaret("rightCaret6", "downCaret6", "#out6");
    });

    $("#out7").click(function(){
      $("#in7").slideToggle("slow");
      toggleCaret("rightCaret7", "downCaret7", "#out7");
    });

    $("#out8").click(function(){
      $("#in8").slideToggle("slow");
      toggleCaret("rightCaret8", "downCaret8", "#out8");
    });

    $("#out9").click(function(){
      $("#in9").slideToggle("slow");
      toggleCaret("rightCaret9", "downCaret9", "#out9");
    });

    $("#out10").click(function(){
      $("#in10").slideToggle("slow");
      toggleCaret("rightCaret10", "downCaret10", "#out10");
    });

    $("#out11").click(function(){
      $("#in11").slideToggle("slow");
      toggleCaret("rightCaret11", "downCaret11", "#out11");
    });

    $("#out12").click(function(){
      $("#in12").slideToggle("slow");
      toggleCaret("rightCaret12", "downCaret12", "#out12");
    });

    $("#out13").click(function(){
      $("#in13").slideToggle("slow");
      toggleCaret("rightCaret13", "downCaret13", "#out13");
    });

    $("#out14").click(function(){
      $("#in14").slideToggle("slow");
      toggleCaret("rightCaret14", "downCaret14", "#out14");
    });


    // Function that handles toggling the Caret
    function toggleCaret(rightCaretNum, downCaretNum, downNum) {

      var rightCaret = document.getElementById(rightCaretNum);
      var downCaret = document.getElementById(downCaretNum);

        if (rightCaret != null) {
            rightCaret.remove();
            $(downNum).append("<i class='bi bi-caret-down-fill' id='" + downCaretNum + "'> </i>");
        }

        if (downCaret != null) {
          downCaret.remove();
          $(downNum).append("<i class='bi bi-caret-right-fill' id='" + rightCaretNum + "'></i>");
        }
    }

    function goBack() {
      window.history.back();
    }

</script>
</html>
