{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Catalog of Exercises</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/everything.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/css/about.css' %}" />
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>
</head>
<style>
h1 {
  text-align : center;
  font-weight : bold;
  font-size : 4em;

}
h3 {
  text-align : center;
  font-size : 2em;
  padding-bottom: 33px;
}
.images{
  max-width: 100%;
  height: auto;
}
.tables{
  text-align : center;
}
table{
  border-collapse: separate;
  border-spacing: 0 30px;
  text-align:center;
}
.my-container{
  padding : 0px 4%;
}
.footer {
  border-top: 1px solid black;
}
.main-text{
  font-size :3.3em;
  font-weight : bold;
}
p{
  font-size : 2.2em;
}
.sections{
  margin-top:10%;
}
.outer-text{
/*  margin-left:3%;
  font-size : 2.6em;*/
  border: solid 1px black;
}

.inner-text{
  margin-left:7%;
  border: solid 1px black;
}
.equip{
  margin-top:5%;
}

.nequip{
  margin-top:8%;
  margin-bottom : 4%;
}

#in1 {
  display: none;
}

#in2 {
  display: none;
}

#in3 {
  display: none;
}

#in3 {
  display: none;
}

#in4 {
  display: none;
}

#in5 {
  display: none;
}

#in6 {
  display: none;
}

#in7 {
  display: none;
}

#in8 {
  display: none;
}

#in9 {
  display: none;
}

#in10 {
  display: none;
}

#in11 {
  display: none;
}

#in12 {
  display: none;
}

#in13 {
  display: none;
}

</style>
<body>
    <div class="exercisemenu">
      <i class="bi bi-arrow-left" onclick="goBack()" style="font-size:4em; margin-left:1%; font-weight:bold;"></i>
      <h1>Catalog of Exercises: Arms </h1>
      <h3> Click on an exercise to learn more!</h3>
    </div>
    <div class = "my-container arms">
      
      <br>
      <div>
        <div class = "equip">
          <div class = "main-text">Equipment Required</div>
          <br>


          <div>
            <div class ="outer-text" id="out1">Dumbell Curls <i class="bi bi-caret-right-fill" id="rightCaret1"></i></div>
            <div id="in1">
              <div class ="inner-text" > 1. Hold a dumbbell in each hand and stand with your feet as wide apart as your hips.
              <br><br>
              2. Let your arms hang down at your sides with your palms forward.
              <br><br>
              3. Pull your abdominals in, stand tall, and keep your knees slightly bent.
              <br><br>
              4. Curl both arms upward until they’re in front of your shoulders.
              Slowly lower the dumbbells back down.
              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out2">Zottman curls <i class="bi bi-caret-right-fill" id="rightCaret2"></i></div>
            <div id="in2">
              <div class ="inner-text" > 1. Hold a pair of dumbbells by your sides with your palms facing. 
              <br><br>
              2. Curl the weights up to your shoulders, keeping your upper arms still and turning your hands so your palms face up as you lift. 
              <br><br>
              3. Pause at the top of the movement and slowly rotate your grip so your palms are facing downwards.
              <br><br>
              4. Lower the dumbbells slowly back to the starting position using this overhand grip, counting for three to five beats as you lower the weight to make sure you’re not moving it too quickly. 
              <br><br>
              5. When the dumbbells are close to your thighs again, turn your hands so your palms are in the starting position facing one another.
              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out3">Hammer curls <i class="bi bi-caret-right-fill" id="rightCaret3"></i></div>
            <div id="in3">
              <div class ="inner-text" > 1. Stand up straight with your torso upright. Hold a dumbbell in each hand at arms-length. Your elbows should be close to your torso.

              <br><br>
              2. The palms of your hands should be facing your torso. This is the starting position for the exercise.

              <br><br>
              3. Curl the weight forward while contracting your biceps. Your upper arm should remain stationary. Continue to lift the weight until your biceps are fully contracted and the dumbbell is at shoulder level. Hold the contraction for a moment as you squeeze your biceps.

              <br><br>
              4. Inhale and slowly start to bring the dumbbells back to the starting position
              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out4">Tricep pulldowns <i class="bi bi-caret-right-fill" id="rightCaret4"></i></div>
            <div id="in4">
              <div class ="inner-text" > 1. Face the triceps pushdown cable machine and grasp the horizontal cable bar or rope attachment (depending on the machine your gym has) with an overhand grip. Adjust the bar or rope grips to about chest level.
              <br><br>
              2. Use the pin-and-place adjustment and set a low weight to start. Different versions of the machine may include other weighting mechanisms.
              <br><br>
              3. Start by bracing your abdominals.
              <br><br>
              4. Tuck your elbows in at your sides and position your feet slightly apart.

              <br><br>
              5. Inhale. Push down until your elbows are fully extended but not yet in the straight, locked position. Keep your elbows close to your body and bend your knees slightly on the pushdown. Resist bending forward. Try to keep your back as straight as possible as you push down.
              <br><br>
              6. As you exhale, return to the starting point using a controlled movement. Try not to crash the weights.
              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out5">Chinups <i class="bi bi-caret-right-fill" id="rightCaret5"></i></div>
            <div id="in5">
              <div class ="inner-text" > 1. Using a supinated grip, grasp the bar with a shoulder width grip.

              <br><br>
              2. Take a deep breath, squeeze your glutes and brace your abs. Depress the shoulder blades and then drive the elbows straight down to the floor while activating the lats.

              <br><br>
              3. Pull your chin towards the bar until the lats are fully contracted, then slowly lower yourself back to the start position.    
              </div>
            </div>
          </div>

        </div>


        <div class = "nequip">
          <div class = "main-text">No Equipment Required</div>
          <br>

          <div>
            <div class ="outer-text" id="out6">Close grip push ups <i class="bi bi-caret-right-fill" id="rightCaret6"></i></div>
            <div id="in6">
              <div class ="inner-text" > 1. Begin in a regular pushup position. Now move hands until they are directly under your shoulders.

              <br><br>
              2. Keep elbows tucked into sides. Lower your body until your chest almost touches the ground, pause, then push yourself back up to starting position.

              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out7">Diamond push ups <i class="bi bi-caret-right-fill" id="rightCaret7"></i></div>
            <div id="in7">
              <div class ="inner-text" > 1. Start in a plank position on all fours with your legs extended behind you and your hands stacked directly under your shoulders.
              <br><br>
              2. Position your hands close together, spreading your fingers to create a diamond shape with your index fingers.
              <br><br>
              3. Begin to lower your chest to the floor while keeping your back flat.

              <br><br>
              4. Press back up into a full arm extension.

              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out8"> Tricep dips <i class="bi bi-caret-right-fill" id="rightCaret8"></i></div>
            <div id="in8">
              <div class ="inner-text" > 1. Place your hands behind you onto a chair, so that your fingers face forward.
              <br><br>
              2. Extend your legs and start bending your elbows.
              <br><br>
              3. Lower your body until your arms are at a 90-degree angle.

              <br><br>
              4. Lift your body back up until your arms are straight.

              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out9"> Planks <i class="bi bi-caret-right-fill" id="rightCaret9"></i></div>
            <div id="in9">
              <div class ="inner-text" > 1. Get into a push up position, with your elbows under your shoulders and your feet hip-width apart.
              <br><br>
              2. Bend your elbows and rest your weight on your forearms and on your toes, keeping your body in a straight line.

              <br><br>
              3. Hold for as long as possible.

              </div>
            </div>
          </div>




          <div>
            <div class ="outer-text" id="out10"> Plank jacks <i class="bi bi-caret-right-fill" id="rightCaret10"></i></div>
            <div id="in10">
              <div class ="inner-text" > 1. Start in a plank position with your arms extended and hands under your shoulders, feet together. Your body should be in a straight line from your head to your heels.
              <br><br>
              2. Engage your abs to help protect your lower back from injury.


              <br><br>
              3. Jump both feet out wide to each side as if you were doing a horizontal jumping jack.
              <br><br>
              4. Stay in plank position as you quickly jump your feet back together.

              <br><br>
              5. Continue to jump back in and out. Keep your back flat and don’t let your hips drop throughout the entire movement. Your arms should remain steady.
              </div>
            </div>
          </div>



          <div>
            <div class ="outer-text" id="out11"> Up-down planks <i class="bi bi-caret-right-fill" id="rightCaret11"></i></div>
            <div id="in11">
              <div class ="inner-text" > 1. Begin in an elbow plank position, propped on your elbows and supporting your weight on your toes.
              <br><br>
              2. Shift your weight to your left and place your right hand on the floor.

              <br><br>
              3. Shift your weight to the right and place your left hand on the floor to enter a full plank.
              <br><br>
              4. Drop back down the way you came. Move your weight to the right to put your left elbow on the floor. Then shift to the left and place your right elbow back on the floor.

              <br><br>
              5. Finish the set then switch, this time placing your left hand on the floor first, then your right.
              </div>
            </div>
          </div>


          <div>
            <div class ="outer-text" id="out12"> Side planks <i class="bi bi-caret-right-fill" id="rightCaret12"></i></div>
            <div id="in12">
              <div class ="inner-text" > 1. Lie on your right side with your legs straight and feet stacked on top of each other. Place your right elbow under your right shoulder with your forearm pointing away from you and your hand balled into a fist. The pinky side of your hand should be in contact with the ground.

              <br><br>
              2. With your neck neutral, breathe out and brace your core.


              <br><br>
              3. Lift your hips off the mat so that you’re supporting your weight on your elbow and the side of your right foot. Your body should be in a straight line from your ankles to your head.

              <br><br>
              4. Hold this position for the duration of the exercise. Depending on your fitness level, aim for between 15 to 60 seconds.

              <br><br>
              5. Repeat on your left side.
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

</body>
<script>


    $("#out1").click(function(){
      $("#in1").slideToggle("slow");
      toggleCaret("rightCaret1", "downCaret1", "#out1");
    });

    $("#out2").click(function(){
      $("#in2").slideToggle("slow");
      toggleCaret("rightCaret2", "downCaret2", "#out2");
    });

    $("#out3").click(function(){
      $("#in3").slideToggle("slow");
      toggleCaret("rightCaret3", "downCaret3", "#out3");
    });

    $("#out4").click(function(){
      $("#in4").slideToggle("slow");
      toggleCaret("rightCaret4", "downCaret4", "#out4");
    });

    $("#out5").click(function(){
      $("#in5").slideToggle("slow");
      toggleCaret("rightCaret5", "downCaret5", "#out5");
    });

    $("#out6").click(function(){
      $("#in6").slideToggle("slow");
      toggleCaret("rightCaret6", "downCaret6", "#out6");
    });

    $("#out7").click(function(){
      $("#in7").slideToggle("slow");
      toggleCaret("rightCaret7", "downCaret7", "#out7");
    });

    $("#out8").click(function(){
      $("#in8").slideToggle("slow");
      toggleCaret("rightCaret8", "downCaret8", "#out8");
    });

    $("#out9").click(function(){
      $("#in9").slideToggle("slow");
      toggleCaret("rightCaret9", "downCaret9", "#out9");
    });

    $("#out10").click(function(){
      $("#in10").slideToggle("slow");
      toggleCaret("rightCaret10", "downCaret10", "#out10");
    });

    $("#out11").click(function(){
      $("#in11").slideToggle("slow");
      toggleCaret("rightCaret11", "downCaret11", "#out11");
    });

    $("#out12").click(function(){
      $("#in12").slideToggle("slow");
      toggleCaret("rightCaret12", "downCaret12", "#out12");
    });

    $("#out13").click(function(){
      $("#in13").slideToggle("slow");
      toggleCaret("rightCaret13", "downCaret13", "#out13");
    });

  // Function that handles toggling the Caret
    function toggleCaret(rightCaretNum, downCaretNum, downNum) {

      var rightCaret = document.getElementById(rightCaretNum);
      var downCaret = document.getElementById(downCaretNum);

        if (rightCaret != null) {
            rightCaret.remove();
            $(downNum).append("<i class='bi bi-caret-down-fill' id='" + downCaretNum + "'> </i>");
        }

        if (downCaret != null) {
          downCaret.remove();
          $(downNum).append("<i class='bi bi-caret-right-fill' id='" + rightCaretNum + "'></i>");
        }
    }


    function goBack() {
      window.history.back();
    }


</script>
</html>
