{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'fitness/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'fitness/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fitness/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        

        html, body {
            margin: 0;
            padding: 0;
            font-family: 'Comic Neue', cursive;
            background-color: #f8f9fa;
        }

        #border {
            border-style: solid; 
            /* margin-left: 10px; */
        }
        
        #questionIcon {
            font-size: 60px;
            margin-left: 90%;
            padding-top: 30px;
        }

        .boxSize {
            width: 100px;
            height: 200px;
        }

    </style>
</head>





<body>
    <div id='questionIcon' onclick="location.href='/fitness/about/';" style="cursor: pointer;">
        <i class="bi bi-patch-question-fill"></i>
    </div>

    <h1 class = "text-center"> GoMotivation </h1>

    <br><br><br>

    <div class = "container"> 

        <div class = "row"> 
            <div class="col-sm-2"> </div>
            <div class="col-sm-3 boxSize" id = "border" onclick="location.href='/fitness/calendar/';" style="cursor: pointer;"> <p class="text-center">My Schedule</p></div>
            <div class="col-sm-2"> </div>
            <div class="col-sm-3 boxSize" id = "border" onclick="location.href='/fitness/goals/';" style="cursor: pointer;"> <p class="text-center">My Goals</p> </div>
            <div class="col-sm-2"> </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-sm-2"> </div>
            <div class="col-sm-3 boxSize" id = "border" onclick="location.href='/fitness/muscle-groups/';" style="cursor: pointer;"> <p class="text-center">My Exercises</p></div>
            <div class="col-sm-2"> </div>
            <div class="col-sm-3 boxSize" id = "border" onclick="location.href='/fitness/motivation/';" style="cursor: pointer;"><p class="text-center">My Motivation</p> </div>
            <div class="col-sm-2"> </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-sm-4"> </div>
            <div class="col-sm-4 boxSize" id = "border" onclick="location.href='/fitness/progress/';" style="cursor: pointer;"><p class="text-center">My Progress</p></div>
            <div class="col-sm-4"> </div>
            
        </div>
       
    </div>

</body>
<script>
    // this is the homepage, feel free to delete anything here
    // var calendar;

    // document.addEventListener('DOMContentLoaded', function() {
    //     var calendarEl = document.getElementById('calendar');
    //     calendar = new FullCalendar.Calendar(calendarEl, {
    //         eventClick: function(info) {
    //             var eventObj = info.event;
    //             alert(eventObj.title);
    //         },
    //         timeZone: 'local',
    //         initialView: 'timeGridWeek',
    //         headerToolbar: {
    //             left: 'prev,next',
    //             center: 'title',
    //             right: 'timeGridWeek,timeGridDay'
    //         }, 
    //         events: [ ]
    //     });
    //     calendar.render();
    // });
    
    // function formatEvent(message) {
    //     return {
    //         title: "[" + message.schID + "] " + message.name + ' - '+ message.desc,
    //         start: message.date + "T" + message.start + ":00",
    //         end: message.date + "T" + message.end + ":00" 
    //     }
    // }  
    
    // function addEvent(event) {
    //     calendar.addEvent(event);
    // }

    // var socket = new WebSocket(
    //     'ws://' + window.location.host + '/ws/fitness');

    // socket.onmessage = function(receivedMessage) {
    //     var received = JSON.parse(receivedMessage.data);
    //     console.log("Received: " + JSON.stringify(received));
    
    //     console.log(received)
    //     if (received['to'] == 'display') {
    //         var event = formatEvent(received);
    //         console.log(JSON.stringify(event));
    //         addEvent(event);
    //     }
    // }

    // socket.onclose = function(e) {
    //     console.error('Chat socket closed unexpectedly');
    // };
    
    // function reqListener () {
    //     console.log(this.responseText);
    // }
    // function fetchWorkout() {
    //     var wgerUrl = 'https://wger.de/api/v2/exercise/';
    //     var xhr = new XMLHttpRequest();
    //     xhr.open("GET", wgerUrl, true);
    //     xhr.addEventListener("load", reqListener);
    //     xhr.setRequestHeader('Content-Type', 'application/json');
    //     xhr.send();
    // }

    // fetchWorkout();

    // var myStorage = window.localStorage;
    // function ok() {
    //     localStorage.setItem('key', "uwu2");
    // }
    // function ok2() {
    //     let a = localStorage.getItem('key');
    //     alert(a);
    // }




</script>
</html>
