#topText {
  text-align: center;
  font-size: 50px;
  padding: 30px;
}

.headerText {
  text-align: center;
  padding: 30px;
}

#section1 {
  padding-left: 30px;
  padding-right: 30px;
}

#down1 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right1 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret1 {

}

#downCaret1 {

}




#section2 {
  padding-left: 30px;
  padding-right: 30px;
}

#down2 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right2 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret2 {

}

#downCaret2 {

}



#section3 {
  padding-left: 30px;
  padding-right: 30px;
}

#down3 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right3 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret3 {

}

#downCaret3 {

}


#section4 {
  padding-left: 30px;
  padding-right: 30px;
}

#down4 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right4 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret4 {

}

#downCaret4 {

}


#section5 {
  padding-left: 30px;
  padding-right: 30px;
}

#down5 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right5 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret5 {

}

#downCaret5 {

}


#section6 {
  padding-left: 30px;
  padding-right: 30px;
}

#down6 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right6 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret6 {

}

#downCaret6 {

}


#section7 {
  padding-left: 30px;
  padding-right: 30px;
}

#down7 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right7 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret7 {

}

#downCaret7 {

}


#section8 {
  padding-left: 30px;
  padding-right: 30px;
}

#down8 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right8 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret8 {

}

#downCaret8 {

}

#section9 {
  padding-left: 30px;
  padding-right: 30px;
}

#down9 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right9 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret9 {

}

#downCaret9 {

}

#section10 {
  padding-left: 30px;
  padding-right: 30px;
}

#down10 {
  background-color: white;
  border: solid 1px black;
  padding: 30px;
}

#right10 {
  padding: 20px;
  display: none;
  background-color: white;
  border: solid 1px black;
}

#rightCaret10 {

}

#downCaret10 {

}