/* CSS file for calendar */

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    width: 99%;
    height: 90%;
}

#first-row {
    width: 85%;
    height: 5%;
}

.top-button {
    width: 50%;
    height: 50%;
    font-size: 2vw;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    margin-top: 10%;
}

#calendar {
    height: 50%;
}

#calendar-form {
    padding: 2%;
    margin: auto;
}    

#suggestions {
    padding-left: 10%;
    padding-right: 10%;
    text-indent: 1%;
    text-align: center;
    font-size: 2vw;
}
